@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Montserrat", sans-serif;
}


.forms-data{
    /* margin: 0 3em; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.label{
     font-size: 1.5em;
}


.welcome{
    padding: 2em 0 1em 4em;
    font-size: 1.8em;
}

table,tr,td{
    border-collapse: collapse;
    padding: 1em ;
    table-layout: auto;
    resize: none;
}

.input{
    width: 97%;
    height: 1.5em;
    padding: 1em;
}


.checkbox{
    margin-right: 1em;
    line-height: 2em;
}
.checkbox2{
    margin-right: 10px;
}

.label2{
    width: 67em;
}

.label1{
    width: 10em;
}

.td-data{
    background-color: green;
    color: white;
    border: 2px solid white;
}

input[type=checkbox]{
    width: 3em;
    height: 1.5em;
}

.data-textarea{
    width: 92%;
    padding: 2em;
    height: 30em;
    resize: none;
}

.buttons{
    width: 15em;
    height: 3em;
    border-radius: 2px;
    border: none;
    background-color: green;
    color: white;
    margin: 2em 0; 
    float: right;
    cursor: pointer;
}


.classname{
    display: flex;
    flex-wrap: wrap;
    margin: 1em 0;
}

.listing-management{
    flex-grow: 1;
    flex-basis: 200;
    padding: 2em;
    width: 35em;
    height: 9em;
    margin: 2em;
    background-color: green;
    border-radius: 10px;
    box-shadow: 5px 5px rgb(176, 246, 146);
}

.linksdata{
    list-style-type: none;
    text-decoration: none;
    font-size: 1em;
    color: white;
    line-height: 2em;
    margin: 0 2.5em;
  }
  
  .linksdata:hover{
    color: rgb(123, 243, 123);
  }

  .login{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10em;
  }


  .blogs{
    padding: 2em;
    margin: 2em;
    background-color: rgb(249, 249, 249);
  }

  .inputs-admin{
    width: 25em;
    height: 1em;
    padding: 1em;
    margin: 1em;
  }

  .submit1{
    background-color: blue;
    color: white;
    padding: 1em;
    border-radius: 5px;
    margin: 0 2em;
    border: none;
    cursor: pointer;
    width: 10em;
  }

  .submit2{
    background-color: rgb(123, 243, 123);
    color: white;
    padding: 1em;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 10em;
  }
  

  .headingblog{
    display: flex;
  }

  .labelsblogs{
    margin: 10px 0 1em 0;
    width: 98%;
    height: 2em;
    padding: 1em;
  }

  .datasets-field{
    margin: 1em 0;
  }

  .footer{
    background-color: rgb(53, 53, 53);
    text-align: center;
    padding: 2em;
    font-size: 1em;
    color: white;
  }

  .linkingdata{
    color: red;
    text-decoration: none;
  }

  table{
    border: 2px solid rgb(241, 241, 241);
  }

  .labelsblogs-select{
    margin: 10px 0 1em 0;
    width: 100%;
    height: 4em;
    padding: 1em;
  }