
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.input-form{
    font-family: "Poppins", sans-serif;
    width:107%;
    height: 1.5em;
    padding: 2em 1em;
    margin: 1em 0;
    transition: 0.2s;
    border-radius: 5px;
    border: 1px solid rgb(212, 212, 212);
}
.input-form:focus{
    outline: none;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 5px;
}

.textarea-form:focus{
    border-radius: 10px;
    outline: none;
    border: 1px solid rgb(212, 212, 212);
}

.textarea-form{
    font-family: "Poppins", sans-serif;
    resize: none;
    height: 10em;
    border-radius: 10px;
    border: 1px solid rgb(212, 212, 212);
}

.button-form{
    height: 3em;
    width: 107%;
}

.forms{
    padding-right: 2em;
}

.input-message-blog{
    font-family: "Poppins", sans-serif;
    width: 41em;
    height: 1.5em;
    padding: 2em 1em;
    margin: 10px 0 0  ;
    outline: none;
    border: none;
    border-radius: 5px;
}

.input-message-blog:focus{
    outline: none;
    border: none;
    border-radius: 5px;
}

.lebel{
    margin: 1em ;
}

.comments-data{
    margin-left: 1em;
    width: 84.5em;
    padding: 1em;
    height: 10em;
    resize: none;
    margin-top: 10px;
    outline: none;
    border: none;
    font-family: "Poppins", sans-serif;
    border-radius: 10px;
}

.comments-data:focus{
    outline: none;
    border: none;
    border-radius: 10px;
}

.forms-datasets-blogs{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(232, 232, 255);
    padding: 2em;
    margin: 2em 8em;
    border-radius: 10px;
    border: none;
}

.submit-reply{
    width: 15em;
    height: 3.5em;
}

.message-everyone{
    margin-left: 10px;
}

.replyform{
   display: flex;
   padding: 1em;
}

.system-data{
    margin-left: 1em;
}


.system-data{
    margin-left: 0;
    display: flex;
}

.custom-data{
    display: flex;
    margin: 0;
}


@media screen and (max-width:1024px) {
    .comments-data{
        margin-left: 0;
        width: 90%;
        padding: 1em;
        margin: 1em;
        height: 10em;
        resize: none;
        margin-top: 10px;
        outline: none;
        border: none;
        font-family: "Poppins", sans-serif;
        border-radius: 10px;
    }

    .forms-datasets-blogs{
        display: block;
        align-items: center;
        justify-content: center;
        background-color: rgb(232, 232, 255);
        padding: 0;
        margin: 0;
        border-radius: 10px;
        border: none;
        width: 100%;
        display: none;
    }

    .input-message-blog{
        font-family: "Poppins", sans-serif;
        width: 90%;
        padding: 1em;
        height: 1.5em;
        margin: 1em  ;
        outline: none;
        border: none;
        border-radius: 5px;
    }

    .system-data{
        margin-left: 0;
        display: flex;
    }

    .custom-data{
        display: flex;
        margin: 1em 0;
    }
}