/* Home Page CSS  */


.home-images-div{
    width: 50em;
    height: 27em;
}

.home-images{
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: polygon(17% 0, 100% 0, 100% 99%, 0 100%, 0% 38%);
    border-radius: 70px;
}

.container-home{
    padding: 3em;
    display: flex;
    background-color: #0B3063;
    height: 30em;
}

.paragraph-home-front-data{
    padding: 2em 0;
    line-height: 2em;
}

.form-home-data{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 2em 2em 1em 2em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
    position: absolute;
}

.clasnamebutton{
    margin-left: 1em;
}

.selection{
    width: 12em;
    height: 3em;
    outline: none;
    margin: 10px  0;
    border: none;
}

.conainer-form{
    margin: 0 10px;
    /* flex-grow: 1;
    flex-basis: 200; */
}

/* HOME PAGE CSS  */

/* About us section  */

.home-aboutus{
    display: flex;
    padding: 1em 0 0 5em;
    justify-content: space-between;
}

.whoweare{
    color: #0B3063;
    font-size: 20px;
}

.headingwhoweare{
    padding: 16px 0 1em 0;
    font-size: 24px;
}

.home-about-para{
    padding-bottom: 2em;
}

.content-para-home{
    margin: 0 0 10px 1em;
}

.aboutushome1{
    width: 70%;
}

.aboutushome2{
    width: 100%;
    margin: 4em 0 0 0;
}

.residential-home{
    width: 25em;
    height: 20em;
    border-radius: 10px;
    object-fit: cover;
    margin: 0 0 0 20em;
}

.commercial-home{
    width: 25em;
    height: 20em;
    border-radius: 10px;
    object-fit: cover;
    margin: -5em 0 0 5em;
}

.iconsimage-section-home{
    display: flex;
    align-items: center;
}

.icons-data-home{
    width: 4em;
    height: 4em;
}

.port-home-center{
    margin: 1.8em 0 0 0;
}

.paragraph-home{
    color: rgb(113, 113, 113);
    line-height: 2em;
    text-align: justify;
}

.flex-blogsimage-show{
    padding: 1em;
    height: auto;
    width: 30%;
    margin: 1em;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

.home-front-blogs{
    margin: 16px 0 1em 0;
}

.container-div-blogs{
    background-color: white;
    padding: 1.5em 0;
    margin: -3em 0 0 0 ;
}

/* About us section  */

/* crouseal start  */
.crouseals{
    padding: 3em 5em 2em 5em;
}
.devlopers-name{
    display: flex;
    align-items: center;
    padding: 1em 0 2em 0;
}
.content-devlopers{
    margin-left: 2em;
    width: 80%;
    height: 2px;
    background-color: rgb(206, 206, 206);
}
.image-crouseal{
    width: 10em;
    height: 8em;
    object-fit: contain;
    margin: 1em;
}
.crouseal-start-here{
    width: 100%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    white-space: nowrap;
}
.flex-crouseal-images{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    animation: crouseal 25s infinite linear;
}


@keyframes crouseal {
    from{
        transform: translateX(0%);
    }to{
        transform: translateX(-100%);
    }
}
/* croseal stop  */

/* location wise data start */

.location-content-name-home{
    text-align: center;
    font-size: 24px;
    padding: 1em 0 2em 0;
    color: rgb(0, 0, 0);
}

.location-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3em 5em 3em;
    overflow: hidden;
    flex-wrap: wrap;
    /* animation: translation 10s ease-in 5s infinite; */
}

/* @keyframes translation {
    0%{
        transform: translateX(0%);
    }
    25%{
        transform: translateX(-25%);
    }
    50%{
        transform: translateX(25%);
    }
    75%{
        transform: translateX(25%);
    }
    100%{
        transform: translateX(-25%);
    }
} */


.data-image-flex-home{
    width: 20em;
    margin: 1em;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s;
    flex-grow: 1;
    flex-basis: 200;
}

.data-image-flex-home:hover{
    margin: -15px 1em  0 1em ;
}

.name-images-flex-home{
    background-color: #0B3063;
    color: white;
    text-align: center;
    padding: 1em;
    margin: -10px 0 0 0;
}

.image-location{
    width: 100%;
    height: 15em;
    object-fit: cover;
    transform: scale(1);
    transition: 0.3s all ease;
}


.link-container{
    text-decoration: none;
}

.links-data-home{
    text-decoration: none;
}

/* location wise data stop  */

@media screen  and (max-width:1024px) {
    .home-aboutus{
        display: block;
        padding: 1em;
        justify-content: space-between;
    }
    .residential-home{
        width: 100%;
        height: 15em;
        border-radius: 10px;
        object-fit: cover;
        margin: 1em 0 ;
        display: none;
    }
    
    .commercial-home{
        margin: 1em 0 ;
        width: 100%;
        height: 15em;
        border-radius: 10px;
        object-fit: cover;
        margin: 0;
        display: none;
    }
    .flex-blogsimage-show{
        padding: 1em;
        height: auto;
        width: 100%;
        margin: 1em 0;
        border-radius: 10px;
        display: flex;
        overflow: hidden;
        background-color: rgb(248, 248, 248);
    }
    .location-flex{
        padding: 0 0 5em 0;
        /* animation: translation 10s ease-in 5s infinite; */
    }

    .aboutushome1{
        width: 100%;
    }
    .crouseals{
        padding: 3em 1em;
    }

    .home-images-div{
        width: 50em;
        height: 27em;
        display: none;
    }
    .container-home{
        padding: 1em;
        display: flex;
        background-color: #0B3063;
        height: auto;
    }

    .conainer-form{
        margin: 0 10px 0 1em;
        width: 40%;
    }

    .buttons-home{
        padding: 2px;
    }
    .selection{
        width: 100%;
        height: 3em;
        outline: none;
        margin: 10px  0;
        border: none;
    }
    .form-home-data{
        background-color: white;
        padding: 2em 0 0 0;
        margin: -1em 0 3em -1em;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 0;
        position: absolute;
        width: 100%;
    }
}