.all{
    background-color: #ffffff;
}
.floorplans-flex{
    display: flex;
    padding: 3em 5em;
}

.floorplan-flex1{
    display: flex;
    flex-wrap: wrap;
}

.featuredimages{
    width: 100%;
    height: 25em;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
}

.images-featuredimages{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s all;
    transform: scale(1.0);
}

.images-featuredimages:hover{
   transform: scale(1.1);
   border-radius: 10px;
}


.listing-gallery{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transform: scale(1.0);
    transition: 0.3s all;
    cursor: pointer;
}

.listing-gallery:hover{
    transform: scale(1.1);
    border-radius: 10px;
}

.floorplans{
    overflow: hidden;
    flex-grow: 1;
    flex-basis: 200;
    width: 10em;
    height: 11.5em;
    border-radius: 10px;
    margin: 0 0 2em 3em;
}

.floorplans1{
    overflow: hidden;
    flex-grow: 1;
    flex-basis: 200;
    width: 10em;
    height: 15em;
    border-radius: 10px;
    margin: 0 1em 2em 0;
}

.floorplans1:nth-child(3){
    margin: 0 0 2em 0 ;
}


.floorplans-data{
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s all;
    transform: scale(1.0);
    cursor: pointer;
}

.floorplans-data:hover{
    transform: scale(1.1);
}

.description-data{
    display: flex;
}

.description-location{
    font-size: 16px;
    color: #5C6163;
    margin: 1.5em 0 0  0;
}


/* description head  */
.description-head{
    border-radius: 10px;
    border: 2px solid #E9E9E9;
    margin: 1em 0;
    padding: 2em;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}

.propertyTitle{
    font-size: 24px;
    color: black;
}
.locationName{
    font-size: 16px;
    color: #5C6163;
    margin: 10px 0 1em 0;
}

.hr-data-sets{
    margin: 0 -2em;
    background-color: #f1f1f1;
}

.button-container{
    padding: 0 2em 2em 2em;
}

.buttons-container{
    width: 20em;
}

.description-listing{
    font-size: 16px;
    line-height: 2em;
}

.sitelocation-listing{
    margin: 2em 0;
    padding: 1em 2em 2em 1em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}

.frames{
    width: 100%;
    height: 20em;
    margin: 2em 0 1em 0;
}

.floorplans-flex-data{
    display: flex;
    padding: 2em 0;
    height: 14em;
}

/* description head  */

.icons-pages{
    width: 3em;
    height: 3em;
    margin-right: 1em;
}

.amenties-data{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    width: 8em;
    padding: 1em 10px 1em 1em;
    margin: 1em;
    flex-grow: 1;
    flex-basis: 200;
}

.conatiner-amenties-data{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
}

.tables-list{
    padding: 2em 0;
}
table{
    width: 100%;
    text-align: center;
    height: 5em;
}

table,td,tr,th{
    border: 2px solid rgb(186, 186, 186);
}

th,td{
    padding: 2em 0;
}
th,td{
    width: 2em;
}

.conatiners{
    width: 60%;
    flex-basis: 200;
    flex-grow: 1;
}

.conatiner-data2{
    width: 30%;
    flex-basis: 200;
    flex-grow: 1;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    margin: 1em 0 0 3em;
    height: 38em;
}

.flex-content-property{
    padding: 2em 5em 3em 5em;
    display: flex;
    flex-wrap: wrap;
}

.form-field-datasets{
    padding: 1em;
}

.flex-container-data-flex{
    display: flex;
    padding: 3em 0 0 5em;
}

.featured-container{
    padding: 1em 1em 3em 3em;
}

.data-need-buttons{
    margin: 1.5em 0;
}

.propertyTitle{
    font-size: 50px;
}

.da-ba{
    margin-top: 2em;
}

.controller{
   display: flex;
   border-bottom: 5px solid rgb(75, 75, 220);
   justify-content: space-between;
   margin: 2em 3em 0 0;
   padding:  0 0 1em 0;
   width: 9em;
}

.conection-data{
    display: flex;
}

.connextion{
    font-size: 14px;
}



@media screen and (max-width:1024px) {
    .floorplans-flex-data{
        display: block;
        padding:  2em 0 0 0;
        height: auto;
    }
    .floorplans1{
        overflow: hidden;
        flex-grow: 1;
        flex-basis: 200;
        width: 100%;
        height: 15em;
        border-radius: 10px;
        margin: 0 1em 2em 0;
    }

    
.flex-content-property{
    padding: 0;
    display: block;
    flex-wrap: wrap;
}

.conatiner-data2{
    width: 100%;
    flex-basis: 200;
    flex-grow: 1;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    margin: 0;
    height: auto;
}
.conatiners{
    width: 100%;
    flex-basis: 200;
    flex-grow: 1;
}
.sitelocation-listing{
    margin:  0;
    padding: 1em 1em 0 1em;
    box-shadow:none;
    border-radius: 10px;
}
.description-head{
    border-radius: 10px;
    border: 2px solid #E9E9E9;
    margin: 1em 0;
    padding: 2em 1em;
    background-color: white;
    box-shadow:none;
    border-radius: 10px;
}
.conection-data{
    display: block;
}

.flex-container-data-flex{
    display: block;
    padding: 0;
}

.featured-container{
    padding: 2em 0 3em 1em;
}

.propertyTitle{
    font-size: 32px;
    color: black;
}

.featuredimages{
    width: 100%;
    height: 20em;
    overflow: hidden;
    border-radius: 0;
    cursor: pointer;
}

.images-featuredimages{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
    transition: 0.3s all;
    transform: scale(1.0);
}

.prices-list{
    font-size: 14px;
}

.description-listing{
    font-size: 18px;
    line-height: 2.5em;
    margin: -5em 0  0 0 ;
}

.hr-data-sets{
    margin: 0 ;
    background-color: #f1f1f1;
}

}


@media screen and (max-width:450px) {
    table{
        display: none;
    }
}
