@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.flex-content{
    display: flex;
    justify-content: center;
    padding: 1em 3em;
}

.flex-content1{
    width: 100%;
    padding: 2em 5em;
    font-family: "Poppins", sans-serif;
}

.flex-content-2{
    margin: 3em 0;
    padding: 3em 2em;
    background-color: rgb(172, 193, 250);
    width: 40%;
    border-radius: 20px;
}

.title-text{
    margin: 0 1em;
}

.blogs-content{
    display: flex;
    align-items: center;
    margin: 1em 0;
}

.image-content{
    width:8em;
    height: 7em;
    object-fit: cover;
}

.datasets-container{
    /* border: 1px solid gray; */
    margin: 2em 0 0 -2em;
    padding: 1em 3em 1em 3em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.image-blogs-content{
    width: 100%;
    height: fit-content;
    overflow: hidden;
    border-radius: 10px;
    }
    
.image-contents-blogs{
    border-radius: 10px;
    width: 100%;
    height: 25em;
    transition: 1s;
    transform: scale(1);
    object-fit: cover;
}

.image-contents-blogs:hover{
   transform: scale(1.1);
   border-radius: 10px;
}


.buttons-flex{
    margin: 1em;
    float: right;
}

.data-paragraph{
    color: black;
    transition: 0.5s;
}

Link{
    text-decoration: none;
}

.links{
    text-decoration: none;
    line-height: 1.5em;
}

.data-paragraph:hover{
    color: rgb(255, 0, 0);
}

.input-form {
    font-family: Poppins, sans-serif;
    width: 100%;
    transition: .2s;
}

.contents-blogs{
    margin: 0em 0 2em -1em;
    font-family: "Montserrat", sans-serif;
    line-height: 2em;
}

.form-data2{
    margin: 2em 0 2em -2em;
    padding: 1.5em;
    border-radius: 10px;
    border: 2px solid rgb(211, 211, 211);
}

.label-data-name{
    display: flex;
}

@media screen and (max-width:1024px) {
    .flex-content{
        display: block;
        justify-content: center;
        padding: 1em;
    }
    .flex-content1{
        width: 100%;
        padding: 2em 0;
        font-family: "Poppins", sans-serif;
    }
    
    .flex-content-2{
        margin: 3em 0;
        padding: 3em 2em;
        background-color: rgb(172, 193, 250);
        width: 100%;
        border-radius: 20px;
    }
    
    .label-data-name{
        display: block;
    }

    .contents-blogs{
    margin: 0em 0 2em 0;
    font-family: "Montserrat", sans-serif;
    line-height: 2em;
        text-align:justify;
}

    .form-data2{
        margin: 2em 0;
        padding: 1.5em;
        border-radius: 10px;
        border: 2px solid rgb(211, 211, 211);
    }
}
