.proven{
 text-align: center;
 color: rgb(113, 113, 253);
 font-weight: 300;
 padding: 2em 3em 0 3em;
}


.images-team-member{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.meet-our-team{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0B3063;
}

.images-front-teammember{
    width:50em;
    height: 23em;
}

.meet{
    color: white;
    font-size: 4em;
    padding: 0 0 10px 2em;
}

.para-graphs{
    color: white;
    font-size: 1em;
    padding: 0 0 1em 8em;
    line-height: 1.5em;
}

.container-flex{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}
.teams-flex{
    flex-wrap: wrap;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 2em 5em 4em 5em;
}

.index{
    width: 17em;
    height: 27em;
    margin: 2em 1em 1em 1em;
    transition: 0.3s;
    padding: 2em 1em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.index:hover{
    /* padding: 2em; */
    width: 17em;
    height: 27em;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.our-teams-div{
    width: 8em;
    height: 8em;
}

.images-teams{
    margin: 0 0 0 55%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
    border: none;
    transition: 0.3s all ease;
}

.paragraph-description{
    text-align: center;
    font-size: 10pt;
    font-weight: 400;
    color: #5c5c5c;
    line-height: 1.5em;
    overflow: hidden;
}

.itemname{
    margin-right: 5px;
    font-size: 16px;
    color: #5C5C5C;
}

.itemdesignation{
    margin: 10px 0 0 0;
    font-size: 14px;
    color: #747474;
    text-align: center;
}

.container-items{
    margin: 15px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linkedin-fa{
    width: 1.2em;
    height: 1.2em;
    margin: 5px 0 0 0;
}

@media screen and (max-width: 900px) {
    .proven{
        text-align: center;
        color: rgb(113, 113, 253);
        font-weight: 300;
        padding: 2em 2em 0 2em;
        font-size: 16px;
       }
       .meet-our-team{
        display: block;
        justify-content: center;
        align-items: center;
        background-color: #0B3063;
    }
    .meet{
        color: white;
        font-size: 2em;
        padding: 1em 1em 10px 15px;
    }
    
    .para-graphs{
        color: white;
        font-size: 1em;
        padding: 0 1em 1em 1em;
        line-height: 1.5em;
    }
    .images-front-teammember{
        width:100%;
        height: 23em;
    }
    .container-flex{
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .teams-flex{
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 0 2em 0;
        margin: 0 0 0 3em;
    }
    .images-team-member{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}